.css-cveggr-MuiListItemIcon-root {
  min-width: 39px !important;
}
/* .css-16ac5r2-MuiButtonBase-root-MuiListItemButton-root:focus {
  background-color: #f23d4d !important;
} */
.css-16ac5r2-MuiButtonBase-root-MuiListItemButton-root:hover {
  background-color: #f23d4d !important;
}
