.tss-gm6zfk-MUIDataTableHeadCell-fixedHeader {
  font-weight: bold !important;
  color: black !important;
}
.tss-1h9t3sl-MUIDataTableHeadCell-sortAction {
  font-weight: bold !important;
  color: black !important;
}

.tss-1vd39vz-MUIDataTableBodyCell-stackedCommon {
  text-align: center !important;
}
.tss-gm6zfk-MUIDataTableHeadCell-fixedHeader {
  text-align: center !important;
}
