.tss-gm6zfk-MUIDataTableHeadCell-fixedHeader {
  font-weight: bold !important;
  color: black !important;
}
.tss-1h9t3sl-MUIDataTableHeadCell-sortAction {
  font-weight: bold !important;
  color: black !important;
}
