.tss-gm6zfk-MUIDataTableHeadCell-fixedHeader {
  font-weight: bold !important;
  color: black !important;
}
.tss-1fbujeu-MUIDataTableHeadCell-toolButton {
  font-weight: bold !important;
  color: black !important;
}
.css-1yk1gt9-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root {
  border-radius: 17px !important;
}
.css-1yk1gt9-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root.Mui-focused
  .MuiOutlinedInput-notchedOutline {
  border-color: inherit !important;
  /* color: black !important; */
  border-width: 1px !important;
}
.css-1jy569b-MuiFormLabel-root-MuiInputLabel-root.Mui-focused {
  color: gray !important;
}
.css-jedpe8-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
  display: flex !important;
}
